.basic-view
  script(type="text/ng-template", id="steps_renderer.html")
    .bv-step-edit(ng-if="!isObject(step)")
      a.btn.cm-test-properties.btn-xs(ng-click="toggle(this)")
        &nbsp;{{step}}
      a.pull-right.btn.btn-danger.btn-xs(ng-click="remove(this)")
        span.glyphicon.glyphicon-remove
      a.pull-right.btn.btn-primary.btn-xs(ng-click="newSubItem(this)", style="margin-right: 8px;")
        span.glyphicon.glyphicon-plus

    ol(ng-class="{hidden: collapsed}", ng-if="isObject(step)")
        li(ng-repeat="(tst, props) in step", ng-include="'test_renderer.html'")

  script(type="text/ng-template", id="test_renderer.html")
    .bv-box()
      .bv-test(ng-show="!this.editing")
        a.btn.btn-xs.cm-test(ng-click="toggle(this)")
          span.glyphicon(ng-class="{'glyphicon-chevron-right': this.collapsed, 'glyphicon-chevron-down': !this.collapsed}")
          &nbsp;{{props.testName}}
        a.pull-right.btn.btn-danger.btn-xs(data-nodrag, ng-click="remove(this)")
          i.glyphicon.glyphicon-remove
        a.pull-right.btn.btn-primary.btn-xs(data-nodrag, ng-click="editTest(this, tstName)", style="margin-right: 8px;")
          i.glyphicon.glyphicon-pencil

        .bv-test-props.cm-test-properties(ng-show="!this.editing", ng-class="{hidden: collapsed}")
          .bv-test-description
            span.bv-test-description-label Description:
            span {{props.values.description}}
          .bv-test-tags
            span.bv-test-tags-label Tags:
              ui-select.bv-test-tags-select(multiple, ng-model="props.values.tags", theme="select2")
                ui-select-match(placeholder="add tags...") {{$item}}
                ui-select-choices(repeat="tag in availableTags | filter:$select.search") {{tag}}

      .bv-tc-edit(ng-show="this.editing")
        form.form-horizontal
          .form-group
            label.col-sm-2.control-label.cm-test(for="props.testName") Name
            .col-sm-10
              input#testName.form-control(type="text", placeholder="Test Name", ng-model="props.testName")
          .form-group
            label.col-sm-2.control-label.cm-test(for="testName") Description
            .col-sm-10
              input#testName.form-control(type="text", placeholder="Test Name", ng-model="props.values.description")
          .form-group
            .col-sm-offset-2.col-sm-10
              button.btn.btn-default.btn-xs(type="submit", ng-click="saveTest(this)") Save
              button.btn.btn-default.btn-xs(type="submit", ng-click="cancelEditingTest(this)") Cancel


      ol.bv-tree-steps(ng-class="{hidden: collapsed}")
        li(ng-repeat="step in props.values.steps", ng-include="'steps_renderer.html'" )


  .bv-tree
    ol.bv-tree-root
      li(ng-repeat="(tst, props) in basicList", ng-include="'test_renderer.html'")